<!doctype html>
<html>
<head>
  <title>Learning Vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Vue!</h1>
    <p class="tagline">Working through the <a href="https://vuejs.org/v2/guide/">Vue Essentials</a></p>
  </header>

  <main class="container">
    <div id="declarative-rendering">
      <h2>1. Declarative Rendering</h2>
      {{ message }}
    </div>

    <div id="directive">
      <h2>2. Directive</h2>
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
      <!-- QUESTION: Why v-bind and not just title="{{ message }}"? -->
    </div>

    <div id="conditional">
      <h2>3. Conditional</h2>
      <p v-if="seen">Now you see me</p>
    </div>

    <div id="loop">
      <h2>4. Loop</h2>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
      <p>To add more, <code>app4.todos.push({ text: 'New item' })</code>.</p>
    </div>

    <div id="event-listener">
      <h2>5. Event Listener</h2>
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="two-way-binding">
      <h2>6. Two-way Binding</h2>
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <div id="components">
      <h2>7. Component</h2>
      <ol>
        <!--
          Now we provide each todo-item with the todo object
          it's representing, so that its content can be dynamic.
          We also need to provide each component with a "key",
          which will be explained later.
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>

  </main>

  <footer>
    <p>Project by <a href="https://github.com/katiemfritz">Katie Fritz</a></p>
  </footer>

  <script src="https://unpkg.com/vue"></script>
  <script src="scripts.js"></script>
</body>
</html>
